.main {
  position: relative;
  min-height: 100vh;
}
.option {
  color: black;
  margin-left: 30px;
}
.main > h1 {
  margin: 20px 0 20px 30px;
}
.main_pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.main_pagination_page {
  height: 30px;
  width: 30px;
}
.main_pagination_page {
  display: none;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}
.main_pagination_page:nth-child(-n + 1), .main_pagination_page:nth-last-child(-n + 2){
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
  display: block;
}
.main_pagination_page:nth-child(11){
  display: block;
  border: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: not-allowed;
  pointer-events: none;
} 
.main_pagination_button_active {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgb(183, 225, 238);
  margin-right: 5px;
  cursor: pointer;
}
