
.header{
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
    background-color: rgb(42, 42, 48);
    color: white;
    height: 3em;
}
.header_home{
    margin-left: 2em;
    text-decoration: none;
    font-size: 18px;
}
.home{
    text-decoration: none;
    color: white;
}
.header_logo{
    width: 1em;
    height: 1em;
    margin-right: 2em;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.3em;
}

.header_logo_settings{
    display: flex;
    flex-direction: row;
    margin-left: 82%;
    font-size: 18px;
    
}
.button_settings{
    color: white;
    font-size: 18px;
    border: none;
    background: none;
    padding: 0 0.5em 1.4em 0.5em;
    cursor: pointer;
}
.button_down{
    position: relative;
    display: inline-block;
}
.button_settings_content{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 5em;
    box-shadow: 0px 8px 10px 0px black;
    border-radius: 10px;
}
.button_settings_content a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 0px;
}
.button_settings_content a:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
} 
.button_down:hover .button_settings_content{
    display: block;
}

